 
<div class="container text-center mt-4">
  <h2>Bebidas Ordinarias </h2>

  <button class="btn btn-primary mb-3" (click)="cargarBebidas()">Cargar bebidas</button>

  <!-- Spinner -->
  <div *ngIf="cargando" class="d-flex justify-content-center my-4">
    <div class="spinner-border text-primary" role="status">
        
    </div>
  </div>

  <!-- Lista de bebidas -->
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let bebida of bebidas">
      <div class="card">
        <img [src]="bebida.strDrinkThumb" class="card-img-top" [alt]="bebida.strDrink">
        <div class="card-body">
          <h5 class="card-title">{{ bebida.strDrink }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
